/* Tailwind v4 */
@import "tailwindcss/preflight";
@import "tailwindcss";

html,
body {
  height: 100%;
}

/* Não use @apply mais! Tailwind 4 não permite fora de scopes especiais */

/* Estilos globais manuais */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Light e Dark Theme */
:root {
  --color-bg: #ffffff;
  --color-text: #1f2937;
}

.dark {
  --color-bg: #111827;
  --color-text: #f3f4f6;
}
